flask==3.0.3
flask-wtf==1.2.1
langchain-core==0.2.22
langchain-together==0.1.4
langchain-community==0.2.9
langchain-experimental==0.0.62
pymupdf==1.24.7
markdown2==2.5.0
reportlab==4.2.2
python-dotenv==1.0.1
weasyprint==62.3
gunicorn==22.0.0